* {
    box-sizing: border-box;
}

html {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0 auto;
}

/* HEADER INFORMATION */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: .25rem;
}

h1 {
    width: 100%;
    align-self: center;
    background-color: #023044;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
    margin: 0;
}

h2 {
    font-size: 1.15rem;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: .6rem;
}

header p {
    line-height: 1.5;
    font-size: .85rem;
    color: #8b9091;
    padding: 0 .75rem 2rem;
    border-bottom: 4px black solid;
    margin: .6rem .75rem 0;
}

h1,
h2,
header p {
    text-align: center;
}

/* MAIN CONTACT INFORMATION */

fieldset:first-child {
    border: none;
    padding-bottom: 1rem;
    margin: 0;
}

.contact-information,
.newsletter {
    width: 100%;
    padding: 1.5rem .5rem 1rem;
    border-top: 2px solid black;
    font-weight: 900;
    font-size: 1.2rem;
}

.contact-information {
    background-color: rgb(56, 195, 195);
    color: white;
}

.newsletter {
    background-color: #023044;
    color: white;
}


label,
input,
select {
    display: block;
    width: 100%;
}

label,
input,
textarea,
footer p {
    font-size: .75rem;
}

input {
    line-height: 1.5;
}

label {
    color: #8b9091;
}

input,
select,
textarea {
    background-color: rgba(225, 219, 219, 0.316);
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: black;
    text-align: right;
    font-style: italic;
}

.textarea::placeholder,
.zip::placeholder {
    text-align: left;
}

.state-color {
    color: black;
}

input,
select {
    width: 95%;
    text-align: left;
    color: lightgray;
    padding: 1rem;
    margin: .6rem 0 1.3rem;
}

input[id="zip"] {
    width: 50%;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid rgb(41, 41, 172);
    background: rgb(226, 221, 148);
    transition: 2s ease;
    color: black;
}

/* NEWSLETTER INFORMATION */

fieldset:last-child {
    border: none;
}

.checkbox-directions {
    padding-left: .25rem;
    margin: 0 auto .5rem;
    font-size: 1rem;
}

.html,
.css,
.javascript,
.html-format,
.plain-text {
    height: 1.5rem;
    margin-bottom: 1rem;
}

.html label,
.css label,
.javascript label,
.html-format label,
.plain-text label,
.html input,
.css input,
.javascript input,
.html-format input,
.plain-text input {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.html input,
.css input,
.javascript input,
.html-format input,
.plain-text input {
    width: 8%;
    margin-left: .25rem;
}

.html label,
.css label,
.javascript label,
.html-format label,
.plain-text label {
    width: 70%;
    height: 1.5rem;
    padding-top: 0;
    margin-left: .75rem;
}

.newsletter-format {
    padding-top: .75rem;
    margin: 1.5rem 0 0 .25rem;
    font-size: .9rem;
}

label[for="feedback"] {
    padding-top: 1.25rem;
    margin: 1rem 0 .75rem .25rem;
}

textarea {
    display: block;
    width: 95%;
    height: 5.5rem;
    margin: 0 auto .8rem;
}

button {
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    background-color: rgb(56, 195, 195);
}

/* FOOTER INFORMATION */

footer {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

footer p {
    text-align: center;
    font-style: italic;
    color: #8b9091;
    font-size: .85rem;
}

/* MEDIA QUERIES BEGIN HERE */

@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        min-width: 700px;
    }

    main {
        max-width: 700px;
        margin: 0 auto;
    }

    /* HEADER MEDIA QUERIES*/

    header {
        flex-direction: column;
    }

    h2,
    button,
    textarea {
        width: 100%;
    }

    h2 {
        font-size: 1.4rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }

    header p {
        width: 675px;
    }

    /* CONTACT INFORMATION MEDIA QUERIES */

    fieldset:first-child,
    header p {
        padding-bottom: 2.5rem;
    }

    div,
    label,
    input,
    select,
    header {
        display: flex;
        align-items: center;
    }

    .contact-information {
        padding-top: 3rem;
    }

    label {
        padding-bottom: .75rem;
        padding-top: .75rem;
        flex-grow: 1;
        flex-basis: 20%;
    }

    input,
    select,
    input[id="zip"] {
        margin-left: 2rem;
        flex-basis: 80%;
    }

    input,
    select {
        margin-bottom: .75rem;
    }

    input[id="zip"] {
        flex-basis: 39.25%;
        margin-right: 51.5%;
        max-width: 25%;
    }



    /* NEWSLETTER MEDIA QUERIES */

    .newsletter {
        padding-top: 2.5rem;
        padding-bottom: .5rem;
    }

    .checkbox-directions {
        padding-left: 0;
    }

    .html,
    .css,
    .javascript,
    .html-format,
    .plain-text {
        margin-bottom: .5rem;
    }

    .html label,
    .css label,
    .javascript label,
    .html-format label,
    .plain-text label {
        flex-grow: 1;
        flex-basis: 80%;
        padding-bottom: .75rem;
    }

    .html input,
    .css input,
    .javascript input,
    .html-format input,
    .plain-text input {
        flex-basis: 5%;
        height: .75rem;
        margin: 0 0 .5rem 0;
    }

    .newsletter-format {
        margin: .4rem 0 .25rem;
    }

    .javascript {
        margin-bottom: 0;
    }

    .feedback {
        display: flex;
        flex-direction: column;
    }

    label[for="feedback"] {
        padding-top: .75rem;
        margin: 0 0 .25rem;
    }

    textarea {
        height: 7rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    /* FOOTER MEDIA QUERIES */

    footer {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }


}